# Visual Studio Generated stuff
.project
.settings
*.csproj
*.csproj.user
*.build
*.mdb
*.mdp
*.mds
*.pdb
*.pidb
*.dll.build
*.VisualState.xml
*/*/obj
*/*/*/obj
*/*/*/*/obj
*/*/*/*/*/obj
*/*/*/*/*/*/obj
*/*/*/*/*/*/*/obj
*/*/bin
*/*/*/bin
*/*/*/*/bin
*/*/*/*/*/bin
*/*/*/*/*/*/bin
*/*/*/*/*/*/*/bin

# User Generated stuff
Compile.*.bat

# Distribution files
Distribution/Debug/*.dll
Distribution/*.dll.mdb
Distribution/*.db
Distribution/addin-db-*
Distribution/*.dll
Distribution/*.pdb
Distribution/OpenSim.vshost.exe.config
Distribution/ScriptEngines/*-*-*-*-*
Distribution/ScriptEngines/*.dll
Distribution/ScriptEngines/*/*.dll
Distribution/ScriptEngines/*/*.state
Distribution/*.maddin
Distribution/*.exe
Distribution/*.ini
Distribution/*.ini.old
Distribution/*.log
Distribution/*.abackup
Distribution/j2kDecodeCache
Distribution/Physics*
Distribution/Terrain*
Distribution/Regions/*
Distribution/UserAssets
Distribution/Backups
Distribution/DefaultInventory
Distribution/ObjectCache
Distribution/assetcache
Distribution/estate_settings.xml
Distribution/config-include/CenomeCache.ini
Distribution/config-include/FlotsamCache.ini
Distribution/config-include/GridCommon.ini
Distribution/config-include/StandaloneCommon.ini
Distribution/OpenSim.Grid.AssetInventoryServer.log
Distribution/OpenSim.Grid.AssetServer.log
Distribution/OpenSim.Grid.GridServer.log
Distribution/OpenSim.Grid.InventoryServer.log
Distribution/OpenSim.Grid.MessagingServer.log
Distribution/OpenSim.Grid.UserServer.log
Distribution/OpenSim.log
Distribution/*.manifest
Distribution/crashes/
Distribution/AuroraServerConfiguration/*/*.ini
Distribution/AuroraServerConfiguration/*/*.ini.old
Distribution/AuroraServerConfiguration/*.ini
Distribution/AuroraServerConfiguration/*.ini.old
Distribution/Configuration/*/*.ini
Distribution/Configuration/*/*.ini.old
Distribution/Configuration/*.ini
Distribution/Configuration/*.ini.old
Distribution/MapTiles/*
Distribution/MapAPI_tileCache/*
Aurora.build
Aurora.sln
Aurora.suo
Prebuild/Prebuild.build
Prebuild/Prebuild.sln
TestResult.xml
TAGS
*~
*.bak
*.vshost.*
Makefile.local
Distribution/.version
Distribution/Aurora.version
*.db-journal
addon-modules/*/
TODO.txt

#Keepers
!Libraries/*.dll
!Libraries/AlternativeODE/*.dll