# Visual Studio Generated stuff and junk files
.project
.settings
*.csproj
*.csproj.user
*.sln.cache
*.build
*.mdb
*.mdp
*.mds
*.pdb
*.log
*.pidb
*.dll.build
*.build
*.sln
*.suo
*~
*.bak
*.vshost.*
*.VisualState.xml
*/*/obj
*/*/*/obj
*/*/*/*/obj
*/*/*/*/*/obj
*/*/*/*/*/*/obj
*/*/*/*/*/*/*/obj
*/*/bin
*/*/*/bin
*/*/*/*/bin
*/*/*/*/*/bin
*/*/*/*/*/*/bin
*/*/*/*/*/*/*/bin

# User Generated stuff
Compile.*.bat

# Distribution Config Files
*.ini

# Distribution Compiled Files
Distribution/Libraries/Aurora.*.dll
Distribution/Libraries/OpenSim.*.dll
Distribution/Libraries/SmartThreadPool.dll

# Distribution files
Distribution/Debug/*.dll
Distribution/*.dll.mdb
Distribution/*.db
Distribution/addin-db-*
Distribution/*.dll
Distribution/*.pdb
Distribution/OpenSim.vshost.exe.config
Distribution/ScriptEngines/*-*-*-*-*
Distribution/ScriptEngines/*.dll
Distribution/ScriptEngines/*/*.dll
Distribution/ScriptEngines/*/*.state
Distribution/*.maddin
Distribution/*.exe
Distribution/*.abackup
Distribution/j2kDecodeCache
Distribution/Physics*
Distribution/Terrain*
Distribution/Regions/*
Distribution/UserAssets
Distribution/Backups
Distribution/DefaultInventory
Distribution/ObjectCache
Distribution/assetcache
Distribution/estate_settings.xml
Distribution/*.manifest
Distribution/crashes/
Distribution/.version
Distribution/Aurora.version
TODO.txt

#Keepers
!Libraries/*.dll
!Libraries/AlternativeODE/*.dll