;; These are the initialization settings for running Aurora with a SQLite database
;;
[AuroraData]
	DatabaseDirectory = Databases
    StorageProvider = SQLite
    ConnectionString = "Data Source=Aurora.db;version=3"

[DatabaseService]
    StorageProvider = Aurora.DataManager.SQLite.dll
    ConnectionString = "Data Source=OpenSim.db;version=3;UseUTF16Encoding=True"

[IAvatarData]
    ConnectionString = "Data Source=Avatars.db;version=3;UseUTF16Encoding=True"

[IAssetDataPlugin]
    ConnectionString = "Data Source=Asset.db;version=3"

[SimulationDataStore]
    LegacyDatabaseLoaderName = "SQLite"
    ConnectionString = "Data Source=OpenSim.db;version=3"

[IRegionInfoConnector]
    ConnectionString = "Data Source=OpenSim.db;version=3;UseUTF16Encoding=True"

[AvatarService]
    ConnectionString = "Data Source=Avatars.db;version=3"

[IUserAccountData]
    ConnectionString = "Data Source=Userprofiles.db;version=3"

[FriendsService]
    ConnectionString = "Data Source=Friends.db;version=3"

[IInventoryData]
    ConnectionString = "Data Source=Inventory.db;version=3;UseUTF16Encoding=True"
